@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(315deg, #5C65A1, #2B3786 57%);
    margin: 0;
    font-family: "Jersey 25",sans-serif;
  }
  
  
  .loginBox {
    background: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    height: 450px;
    transition: width 1s ease, opacity 1s ease; 
  }

  h2 {
    color: black;
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 64px;
  }
  
  .inputLogin {
    margin-bottom: 20px;
    text-align: left;
    font-size: 25px;
    font-family: "Jersey 25",sans-serif;
    transition: width 1s ease;
  }
  
  .inputLogin label {
    font-weight: bold;
    display: block;
    font-size: 25px;
    font-family: "Jersey 25",sans-serif;
  }
  
  .inputLogin input {
    width: 363px;
    /* padding: 10px; */
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    color: black;
    font-family: "Jersey 25",sans-serif;
    margin-left: 15px;
  }
  
  .loginBtn {
    width: 181px;
    height: 64px;
    background: #27A8E0;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 45px;
    cursor: pointer;
    font-family: "Jersey 25",sans-serif;
    color: white;
    transition: 0.5s ease;
  }

  
  .loginBtn:hover {
    background: #239bce;
  }
  
  .loginText{
    margin: 15px 0;
    color: black;
    font-size: 24px;
  }
  
  .googleBtn img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .signupText {
    margin-top: 10px;
    color: white;
  }
  
  .signupLink {
    color: #27A8E0;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .signupLink:hover{
    color: #239bce;
    cursor: pointer;
  }
  